@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.weather_section {
  background-image: linear-gradient(
    177deg,
    rgba(6, 49, 66, 0.1) 0%,
    rgba(15, 12, 12, 0.5) 100%
  );
  height: 92vh;

  border-radius: 30px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  background-color: rgba(255, 255, 255, 0.1); /* Green */
  border: none;
  color: #fff;
  padding: 8px;
  width: 80%;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize !important;
  margin-bottom: 20px !important;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
  background-color: #fff; /* Change color on hover */
  color: #082231;
  transform: scale(1.1); /* Slightly enlarge the button on hover (in effect) */
}

button:active {
  transform: scale(
    0.95
  ); /* Slightly shrink the button when clicked (out effect) */
}

.btn {
  width: 90% !important;
  font-size: 18px;
  font-weight: 600 !important;
  background-color: #082231 !important;
  margin-left: 22px;
  margin-bottom: 10px;
  color: #fff !important;
}

.btn:hover {
  background-color: #fff !important;
  color: #082231 !important;
  transform: scale(1.1) !important;
}

.weather_display {
  color: white;
  margin-top: 300px;
  top: 180px;
  position: relative;
  margin-bottom: 300px;
  opacity: 0;
  transform: translateX(-50px);
  animation: slideInText 1s forwards;
}

@media (max-width: 992px) {
  .weather_display {
    top: 30px;
    margin-bottom: 40px;
  }
}

@keyframes slideInText {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.weather_display h1 {
  font-size: 80px;
}

.weather_display h3 {
  font-size: 22px;
  margin-top: 18px;
}

.weather_display p {
  font-size: 13px;
  line-height: 10px;
}

.nav_text {
  font-family: "Oleo Script", system-ui !important;
  font-weight: 800 !important;
}
